$primary-font-family: 'Titillium Web','Georgia','serif';
$secondary-font-family: 'Alegreya Sans','Arial','Georgia','serif';
$primary-color: #428BCA;
$text-color: #FFFFFF;
$text-cont-color: #505763;
$text-muted: #FFFFFF;
$text-primary: #428BCA;
$body-color: #F5F6F9;
$widget-border-color: #E1E8ED;
$input-border-color: #f2f3f5;
$input-border-color-focus: #dedfe0;
$text-gray: #cacaca;
$star-rating-color: #f4c150;
$text-warning: #ffc107;
$text-success: #28a745;
$hr-gray: #D4D5D6;
$text-black: #000000;
$text-alert: #FA0000;
$text-gray-ext: #686F7A;
$cta-gray: #EBEBEB;
$google-color: linear-gradient(to bottom,#db4d3f 0,#db4d3f 100%);
$facebook-color: linear-gradient(to bottom,#4A6BB2 0,#4A6BB2 100%);
$twitter-color: linear-gradient(to bottom,#1da1f2 0,#1da1f2 100%);


$size-100: 100%;
$bold: 700;
$button-width: 10.453rem;
$h1-font-size: rem(35px);
$h2-size: 1.125rem;
$border-size: .1rem;
$primary-unit: rem(16px);
$search-hight: rem(120px);
$blogs-hight: rem(300px);
$auth-width: rem(365px);
$product-width: rem(500px);
$profile-img-size-2: rem(100px);
$max-header-size: rem(40px);
$max-input-height: rem(50px);
$sm-padding: rem(10px);
$profile-img-size:rem(80px);
$review-img-size:rem(70px);
$md-padding: rem(15px);
$sm-font: rem(12px);
$label-size: rem(13px);
$cropit-font-size: rem(24px);
$header-cont-height: rem(39px);
$header-cont-height2: rem(18px);
$border-radius: rem(4px);
$main-size: rem(17px);
$padding-max: rem(32px);
$header2-text-size: rem(18px);
$over-flow-max-width: rem(200px);
$over-flow-max-width3: rem(250px);
$over-flow-max-width2: rem(175px);
