<script type="text/javascript">
    var appEditProfile = new Vue({
        el: '#change-password',
        data: {
            old_password: '',
            new_password:'',
            confirm_password:'',

            isActive:'',
            formError:'',
            formSuccess:'',
            showError:false,
            showSuccessMsg:false,
        },methods: {
            changePassword: function (e) {
                this.isActive = 'active-btn';
                this.formError = '';

                console.log('password');

                axios.post('http://localhost:3000/save-password',
                        {
                            old_password:this.old_password,
                            new_password:this.new_password,
                            confirm_password:this.confirm_password,
                        },
                        { headers: {
                                'Content-Type': 'application/json',
                            }
                        }).then(response => {
                    this.isActive = '';

                    console.log(response.data);

                    if (response.data.error) {
                        this.showSuccessMsg=false;
                        this.formSuccess='';
                        this.formError = '<div class="callout warning" style="border-radius: .3rem;"><ul>'
                        response.data.error[0] ? this.formError += '<li>'+response.data.error[0].msg+'</li>':'';
                        response.data.error[1] ? this.formError += '<li>'+response.data.error[1].msg+'</li>':'';
                        response.data.error[2] ? this.formError += '<li>'+response.data.error[2].msg+'</li>':'';
                        this.formError += '</ul></div>';
                        this.showError = true;

                    }else{
                        this.formSuccess='<div class="callout success" style="border-radius: .3rem;">Your Password ' +
                                'has been changed successfully.</div>';
                        this.showSuccessMsg=true;
                        this.showError = false;
                    }

                },function(err){
                    this.lAction = '';
                    console.log(err);
                    alert(err);
                });
            }
        }
    });

    $(function(){
        $('#edit-password-form').validate({
            rules: {
                old_password: {
                    required: true,
                },new_password: {
                    required: true,
                    minlength: 6
                },confirm_password: {
                    required: true,
                    minlength: 6,
                    equalTo:'#new_password'
                }
            },
            messages: {
                old_password: {
                    required: 'Please enter your old password',
                },new_password: {
                    required: 'Please enter your password',
                    minlength: 'Your password must be at least 6 characters long'
                },confirm_password: {
                    required: 'Please enter your password',
                    minlength: 'Your password must be at least 6 characters long',
                    equalTo: 'Please enter the same password'
                }
            }
        });
    });
</script>