<footer>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                © Copyright {{currentYear}}. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/foundation.unit/vendor.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.core.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.box.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.keyboard.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.mediaQuery.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.motion.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.nest.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.util.triggers.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.accordion.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.dropdownMenu.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.dropdown.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.magellan.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.reveal.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.tooltip.js"></script>
<script type="text/javascript" src="/js/foundation.unit/foundation.offcanvas.js"></script>
<script type="text/javascript" src="/js/particles.min.js"></script>
<script type="text/javascript" src="/js/validate.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

<!--Start of Tawk.to Script
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a80453cd7591465c707904c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
End of Tawk.to Script-->
