
<!-- set layout -->
{{!< layout}}

<section class="about_wrapper align-center-middle">
    <div class="about__cell">
        <img src="img/bg-img/hero-1.jpg" alt="background">
    </div>
    <div class="about__cell align-center-middle">
        <div class="cont">
            <h2>Heya, We’re GridSites</h2>
            <p>
                We’re the company behind the Elastic Stack — that’s Elasticsearch, Kibana, Beats, and Logstash. From stock quotes to Twitter streams, Apache logs to WordPress blogs, we help people explore and analyze their data differently using the power of search.
            </p>
        </div>
    </div>
</section>
<section class="g__cta cont_padding">
    <div class="grid-container">
        <div class="grid-x align-center-middle">
            <div class="medium-8 cell text-center">
                <h2>Heya, We’re GridSites</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus, in tristique urna. Suspendisse potenti.</p>
            </div>
        </div>
    </div>
</section>

<section class="c__wrapper">
    <div class="grid-container">
        <div class="grid-x align-center-middle">
            <div class="medium-5 cell text-center">
                <img src="img/cont/about-our-story.svg" width="400" alt="cont">
            </div>
            <div class="medium-7 align-center-middle a__grid cell">
                <div class="cont">
                    <h2>Heya, We’re GridSites</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus, in tristique urna. Suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="c__wrapper__xt">
    <div class="grid-container">
        <div class="grid-x align-center-middle">
            <div class="medium-5 medium-order-2 cell text-center">
                <img src="img/cont/about-our-story.svg" width="400" alt="cont">
            </div>
            <div class="medium-7 medium-order-1 align-center-middle a__grid cell">
                <div class="cont">
                    <h2>Heya, We’re GridSites</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus, in tristique urna. Suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </div>
</section>
