
<!-- set layout -->
{{!< layout}}

<section class="display__seatch_header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-12 cell">
                <h1 class="r-margin">Shopping Cart</h1>
            </div><!-- ./medium cell -->
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<div id="cart__wrapper">
{{#if req.session.cart_obj.hits.total}}
<section class="cart__session" v-if="showCart">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-auto cell">
                <div class="cart__wrapper">
                   <div class="grid-x grid-margin-x" v-if="cart_obj" v-for="(cart_item, index) in cart_obj"
                        :class="{'wrapper-border':cart_obj.length>0&&cart_obj.length-1!==index}">
                       <div class="small-4 medium-3 cell">
                           <a :href="cart_item.product_url">
                               <img :src="cart_item.image1" :alt="cart_item.product_name">
                           </a>
                       </div>
                       <div class="small-8 medium-6 large-7 cell">
                           <h2><a :href="cart_item.product_url" :alt="cart_item.product_name" v-html="cart_item.product_name"></a></h2>
                           <div v-html="cart_item.main_category"></div>
                           <div class=""  :class="isActive">
                               <ul class="price-preview" v-if="cart_item.offer_price">
                                   <li v-html="'Standard License <b>$'+cart_item.offer_price+'</b>'"></li>
                                   <li v-if="cart_item.built_price&&cart_item.built_price!=0" v-html="'Get It Implemented <b>$'+cart_item.built_price+'</b>'"></li>
                                   <li v-if="cart_item.hosting_price&&cart_item.hosting_price!=0" v-html="'Get It Hosted <b>$'+cart_item.hosting_price+'</b>'"></li>
                               </ul>
                               <a v-if="cart_item.offer_price"  :href="cart_item.product_url" :alt="cart_item.product_name" >Preview</a>
                               | <button v-if="cart_item.offer_price"
                                   class="text-primary cursor"
                                   :onclick="cart_item.removeCartItem">Remove</button>

                               <img src="/img/icon/spinner-circle.svg" style="display: none;top: 0rem;left: 8.6rem;" alt="loading..." width="15">

                           </div>
                           <div class="small text-danger" v-html="formError">

                           </div>
                       </div>
                       <div class="medium-3 large-2 cell text-right">
                           <b><span v-html="getTotalPrice(cart_item.offer_price.toString(), cart_item.built_price,
                           cart_item.hosting_price)"></span></b>
                       </div>
                   </div><!-- ./grid-x grid-padding-x -->
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell active-btn" style="margin-top: 4rem; margin-bottom: 4rem;"
                             v-if="!cart_obj">
                            <div>
                                <img src="/img/icon/spinner-circle.svg" style="position:relative;width:3rem;
                                margin-left:auto;margin-bottom: 1rem;margin-right: auto;display: block;" alt="loading..." width="50">
                            </div>
                            <div class="text-center" style="padding-top: 1rem">
                                loading, Please wait...
                            </div>
                        </div><!-- ./medium cell -->
                    </div><!-- ./grid-x grid-padding-x -->
                </div>
            </div>

            <div class="medium-4 large-3 cell">
                <div class="s__left__wrapper">
                    <h2>Order Summary</h2>
                    <ul>
                        <li>Subtotal</li>
                        <li><span v-html="total_cost">{{total_cost}}</span></li>
                    </ul>
                    <ul>
                        <li>Items</li>
                        <li>{{req.session.cart_obj.hits.total}}</li>
                    </ul>
                    <ul>
                        <li>Total</li>
                        <li><span v-html="total_cost">{{total_cost}}</span></li>
                    </ul>
                    <button
                            @click="checkOut"
                            class="button primary expanded" type="button" name="button">Order Now</button>
                    <div class="text-center"><img src="/img/icon/security.svg" alt="Secure checkout" width="16"> Secure checkout</div>
                    <div class="text-center"><img src="/img/icon/like.svg" alt="100% Satisfaction" width="16"> 100% Satisfaction</div>
                    <div class="payment__methods_icons">

                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./grid-container -->
</section>
{{else}}
<section class="cart__session" style="background-color: #FFF;">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center-middle">
            <div class="medium-12 cell text-center" style="padding-top: 6rem;font-size: 2rem;">
                No Item found in your cart.
            </div>
            <div class="medium-2 cell" style="padding-top:2rem;padding-bottom: 6rem;">
                <a href="/"><button type="button" name="button" class="button primary expanded">Continue Shopping >>
                </button></a>
            </div>
        </div>
    </div>
    <hr>
</section>
{{/if}}

    <!--js only-->
    <section class="cart__session" style="background-color: #FFF;" v-if="showEmptyCartCont">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center-middle" v-html="showEmptyCartCont">

            </div>
        </div>
        <hr>
    </section>

</div>