
<!-- set layout -->
{{!< layout}}

<section class="display__seatch_header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-12 cell">
                <span>Patick Kakade</span>
                <p>PHP, JavaScript, CSS</p>
            </div><!-- ./medium cell -->
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<section class="profile__session">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="medium-auto cell">
                <div class="profile__wrapper">
                    <div class="grid-x grid-margin-x">
                        <div class="medium-2 profile-img text-center cell">
                            <a href="/edit-profile-image"><img src="/img/profile/man-avatar.svg" alt=""></a>
                            <div class="text-center">
                                <a href="/edit-profile-image">Change Image</a>
                            </div>
                        </div>
                        <div class="medium-9 cell">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus, in tristique urna. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam  mattis. Ut sit amet laoreet diam <span class="text-primary cursor">Read more...</span>
                            </p>
                            <p class="nowrap">
                                Link: <a href="/profile">https://en.gridwedsite.com/page/patrickawoya22</a>
                            </p>
                        </div>
                        <div class="medium-12 cell">
                            <ul class="tabs" data-tabs id="profile__taps" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
                                <li class="tabs-title is-active"><a style="min-width:9rem" href="#projects" aria-selected="true">(28) Projects</a></li>
                                <li class="tabs-title"><a style="min-width:10rem" href="#templates">(32) Templates</a></li>
                                <li class="tabs-title"><a style="min-width:10rem" href="#creatives">(22) Creatives</a></li>
                                <li class="tabs-title"><a style="min-width:11rem" href="#notifications">(21) Notifications</a></li>
                                <li class="tabs-title"><a style="min-width:9rem" href="#review">(32) Review</a></li>
                                <li class="tabs-title"><a style="min-width:6rem" href="#skills">Skills</a></li>
                            </ul>

                            <div class="tabs-content" data-tabs-content="profile__taps">

                                <div class="tabs-panel is-active" id="projects">
                                    <p><a href="#">Add new project</a></p>
                                    {{#compare 1 '==' 2}}
                                    <p>No projects added yet</p>
                                    {{/compare}}

                                    {{#compare 1 '==' 1}}
                                    <div class="grid-x grid-margin-x item__list">
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                    </div>
                                    {{/compare}}
                                </div><!--./projects-->

                                <div class="tabs-panel" id="templates">
                                    <p><a href="/edit-templates">Add templates</a></p>
                                    {{#compare 1 '==' 2}}
                                    <p>No templates added yet</p>
                                    {{/compare}}

                                    {{#compare 1 '==' 1}}
                                    <div class="grid-x grid-margin-x item__list">
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                    </div>
                                    {{/compare}}
                                </div><!--./templates-->


                                <div class="tabs-panel" id="creatives">
                                    <p><a href="#">Add creatives</a></p>
                                    {{#compare 1 '==' 2}}
                                    <p>No creatives added yet</p>
                                    {{/compare}}

                                    {{#compare 1 '==' 1}}
                                    <div class="grid-x grid-margin-x item__list">
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                        <div class="medium-4 cell">
                                            <img src="/img/temp/thumb-1/dashboard.png" alt="">
                                        </div>
                                    </div>
                                    {{/compare}}
                                </div><!--./creatives-->


                                <div class="tabs-panel" id="notifications">
                                    <ul class="notifications__wrapper">
                                        <li>
                                            <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                            <div class="small">5 months ago</div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>

                                        <li>
                                            <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                            <div class="small">5 months ago</div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>

                                        <li>
                                            <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                            <div class="small">5 months ago</div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>

                                        <li>
                                            <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                            <div class="small">5 months ago</div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>
                                    </ul>
                                </div> <!--./notifications-->

                                <div class="tabs-panel" id="review">
                                    <ul class="review__wrapper">
                                        <li class="flex-container">
                                            <div class="reviewer_image">
                                                <img src="/img/profile/man-avatar.svg" alt="">
                                            </div>
                                            <div>
                                                <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                                <div class="small">5 months ago</div>
                                                <div class="star__ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <span class="small">(3/5)</span>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                                </p>
                                            </div>
                                        </li>


                                        <li class="flex-container">
                                            <div class="reviewer_image">
                                                <img src="/img/profile/man-avatar.svg" alt="">
                                            </div>
                                            <div>
                                                <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                                <div class="small">5 months ago</div>
                                                <div class="star__ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <span class="small">(3/5)</span>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                                </p>
                                            </div>
                                        </li>



                                        <li class="flex-container">
                                            <div class="reviewer_image">
                                                <img src="/img/profile/man-avatar.svg" alt="">
                                            </div>
                                            <div>
                                                <h2><b>Lorem ipsum dolor sit amet</b></h2>
                                                <div class="small">5 months ago</div>
                                                <div class="star__ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                                                    <span class="small">(3/5)</span>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!--./review-->

                                <div class="tabs-panel" id="skills">
                                    <ul class="skills__wrapper">
                                        <li>
                                            <h2><b>PHP</b></h2>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>

                                        <li>
                                            <h2><b>HTML</b></h2>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet laoreet diam. Fusce iaculis sollicitudin purus.
                                            </p>
                                        </li>
                                    </ul>
                                </div><!--./skills-->
                          </div>

                        </div>
                    </div><!-- ./grid-x grid-padding-x -->
                </div>
            </div>

            <div class="medium-4 large-3 cell">
                <div class="profile__left__wrapper text-center">
                    <div class="inline__cont flex-container">
                        <h2 class="flex-child-grow">Credits</h2>
                        <span class="flex-child-grow">$27</span>
                    </div>
                    <div class="inline__cont flex-container">
                        <ul>
                            <li>30</li>
                            <li>Followers</li>
                        </ul>
                        <ul>
                            <li>27</li>
                            <li>Following</li>
                        </ul>
                    </div>
                </div>
                <div class="profile__left__wrapper">
                    <div class="inline__cont">
                        <h2>Account detail</h2>
                        <span>Name: <a href="#">Patrick Kakande</a></span>
                        <span>Mobile: <a href="tel:07446820124">07446820124</a></span>
                        <span>Email: <a href="mailto:patrickawoya22@hotmail.co.uk">patrickawoya22@hotmail.co.uk</a></span>
                        <span>Country: <b>United Kingdom</b></span>
                        <span>Language: <b>EN</span></b>
                        <span class="magin-y"><a href="/edit-profile">Edit Profile</a></span>
                        <span class="magin-y"><a href="/edit-language-pack">Add Language Package</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./grid-container -->
</section>
